<!-- <mat-sidenav-container class="example-container" autosize>
  <mat-sidenav
    #sidenav
    class="example-sidenav"
    mode="side"
    opened="true"
    (mouseenter)="mouseenter()"
    (mouseleave)="mouseleave()"
  >
    <mat-nav-list>
      <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
        <span class="full-width" *ngIf="isExpanded || isShowing"
          >Parent Menu</span
        >
        <mat-icon mat-list-icon>home</mat-icon>
        <mat-icon
          class="menu-button"
          [ngClass]="{ rotated: showSubmenu }"
          *ngIf="isExpanded || isShowing"
        >
          expand_more</mat-icon
        >
      </mat-list-item>
      <div
        class="submenu"
        [ngClass]="{ expanded: showSubmenu }"
        *ngIf="isShowing || isExpanded"
      >
        <a mat-list-item href="...">Submenu Item 1</a>
        <a mat-list-item href="...">Submenu Item 2</a>
        <mat-list-item
          (click)="showSubSubMenu = !showSubSubMenu"
          class="parent"
        >
          <span class="full-width" *ngIf="isExpanded || isShowing"
            >Nested Menu</span
          >
          <mat-icon
            class="menu-button"
            [ngClass]="{ rotated: showSubSubMenu }"
            *ngIf="isExpanded || isShowing"
            >expand_more</mat-icon
          >
        </mat-list-item>
        <div
          class="submenu"
          [ngClass]="{ expanded: showSubSubMenu }"
          *ngIf="isShowing || isExpanded"
        >
          <mat-list-item>SubSubmenu Item 1</mat-list-item>
          <mat-list-item>SubSubmenu Item 2</mat-list-item>
        </div>
      </div>
    </mat-nav-list>
    <mat-nav-list> </mat-nav-list>
  </mat-sidenav>
  <div class="container-1 row ">
	  <div class="col-md-12">
  <mat-toolbar class="dashboard-toolbar">
    <button mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button>
    <h1 class="dashboard-app-name">Dashboard</h1>
    <span class="dashboard-spacer"></span>
    <button mat-flat-button class="arabic-btn" >عربي</button>
		  
		  <button mat-icon-button aria-label="Example icon button with a home icon">
			<mat-icon>notifications_none</mat-icon>
			<span class="new-notification">
				</span>
		  </button>
		  <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
			<mat-icon>person_outline</mat-icon>
		  </button>
  </mat-toolbar>
	  </div>

	  <div class="col-md-12">
    <router-outlet></router-outlet>
  </div>
  <footer class="col-sm-12">
	  <div class="full-width-line"></div>
	  <div class="row">
	  <div class="col-md-8">
		 <p class="soudiFooter">
			Copyright © 2020, Council of Saudi Chambers. All Rights Reserved
		 </p>
	  </div>
	  <div class="col-md-4">
	  <div class="footerlinks">
		<a href="#" class="">
			FAQ
		</a>
	</div>
	<div class="footerlinks custom-width">
		<a href="#" class="">
			Privacy Policy
		</a>
	</div>
	<div class="footerlinks">
		<a href="#">
		<img src="../../../../assets/images/WATACLogo.png" alt="" class="">
	</a>
	</div>
	<div class=" footerlinks footer-link-border"></div>
	<div class="footerlinks">
		<div class="">
			<a href="#">
			<img src="../../../../assets/images/2030.png" alt="" class="">
		</a>
		</div>
	</div>
</div>
</div>
  </footer>
</div>
</mat-sidenav-container> -->




<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
		<!-- <app-sidebar-items></app-sidebar-items> -->
		<!-- <mat-nav-list>
			<mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
			  <span class="full-width" *ngIf="isExpanded || isShowing"
				>Parent Menu</span
			  >
			  <mat-icon mat-list-icon>home</mat-icon>
			  <mat-icon
				class="menu-button"
				[ngClass]="{ rotated: showSubmenu }"
				*ngIf="isExpanded || isShowing"
			  >
				expand_more</mat-icon
			  >
			</mat-list-item>
			<div
			  class="submenu"
			  [ngClass]="{ expanded: showSubmenu }"
			  *ngIf="isShowing || isExpanded"
			>
			  <a mat-list-item href="...">Submenu Item 1</a>
			  <a mat-list-item href="...">Submenu Item 2</a>
			  <mat-list-item
				(click)="showSubSubMenu = !showSubSubMenu"
				class="parent"
			  >
				<span class="full-width" *ngIf="isExpanded || isShowing"
				  >Nested Menu</span
				>
				<mat-icon
				  class="menu-button"
				  [ngClass]="{ rotated: showSubSubMenu }"
				  *ngIf="isExpanded || isShowing"
				  >expand_more</mat-icon
				>
			  </mat-list-item>
			  <div
				class="submenu"
				[ngClass]="{ expanded: showSubSubMenu }"
				*ngIf="isShowing || isExpanded"
			  >
				<mat-list-item>SubSubmenu Item 1</mat-list-item>
				<mat-list-item>SubSubmenu Item 2</mat-list-item>
			  </div>
			</div>
		  </mat-nav-list>
		  <mat-nav-list> </mat-nav-list> -->
      <!--this is a place for us to add side-nav code-->
    </mat-sidenav>
    <mat-sidenav-content>

		<!-- lap nav -->
		<mat-sidenav  class="example-sidenav hideNav"
		mode="side"
		opened="true" >
		<app-sidebar-items></app-sidebar-items>
			<!-- <mat-nav-list>
				<mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
				  <span class="full-width" *ngIf="isExpanded || isShowing"
					>Parent Menu 5</span
				  >
				  <mat-icon mat-list-icon>home</mat-icon>
				  <mat-icon
					class="menu-button"
					[ngClass]="{ rotated: showSubmenu }"
					*ngIf="isExpanded || isShowing"
				  >
					expand_more</mat-icon
				  >
				</mat-list-item>
				<div
				  class="submenu"
				  [ngClass]="{ expanded: showSubmenu }"
				  *ngIf="isShowing || isExpanded"
				>
				  <a mat-list-item href="...">Submenu Item 1</a>
				  <a mat-list-item href="...">Submenu Item 2</a>
				  <mat-list-item
					(click)="showSubSubMenu = !showSubSubMenu"
					class="parent"
				  >
					<span class="full-width" *ngIf="isExpanded || isShowing"
					  >Nested Menu</span
					>
					<mat-icon
					  class="menu-button"
					  [ngClass]="{ rotated: showSubSubMenu }"
					  *ngIf="isExpanded || isShowing"
					  >expand_more</mat-icon
					>
				  </mat-list-item>
				  <div
					class="submenu"
					[ngClass]="{ expanded: showSubSubMenu }"
					*ngIf="isShowing || isExpanded"
				  >
					<mat-list-item>SubSubmenu Item 14444</mat-list-item>
				  </div>
				</div>
			  </mat-nav-list>
			  <mat-nav-list> </mat-nav-list> -->
		  <!--this is a place for us to add side-nav code-->
		</mat-sidenav>


	  <!--in here all the content must reside. We will add a navigation header as well-->
	  <div class="body-margin">

		  <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
		  <!-- <main> -->
			  <div class="container">

				  <router-outlet></router-outlet>
			  </div>
		  <!-- </main> -->
	  </div>
    </mat-sidenav-content>
  </mat-sidenav-container>