
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Saudi-Chambers-primary: mat-palette($mat-indigo);
$Saudi-Chambers-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Saudi-Chambers-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$Saudi-Chambers-theme: mat-light-theme($Saudi-Chambers-primary, $Saudi-Chambers-accent, $Saudi-Chambers-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($Saudi-Chambers-theme);

/* You can add global styles to this file, and also import other style files */


// owl car
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

@import './assets/css/ata-icons.css';


html, body { height: 100%; }
body { 
    margin: 0; 
    // font-family: Roboto, 
    // "Helvetica Neue", sans-serif; 
    background-color: #FCFCFC;
}
*{
    font-family: 'sourceSansProRegular', 'arial', sans-serif ;
}

// fonts 
// main font
@font-face {
    font-family: "sourceSansProRegular";
    src: url(./assets/fonts/SourceSansPro-Regular.otf) format("opentype");
}

@font-face {
    font-family: "sourceSansProSemiBold";
    src: url(./assets/fonts/SourceSansPro-Semibold.otf) format("opentype");
}
@font-face {
    font-family: "sourceSansProBold";
    src: url(./assets/fonts/SourceSansPro-Bold.otf) format("opentype");
}
// Arabic font
@font-face {
    font-family: "bahijArabic";
    src: url(./assets/fonts/ArbFONTS-Bahij_TheSansArabic-Plain.ttf) format("opentype");
}

// our variables

$base-red-one: #B36E22;
$base-red-two: #987349;

.red-header{
    color: $base-red-one;
    font-size: 25px !important;
    font-weight: bold !important;
    height: 36px;
    text-transform: capitalize;
    font-family: 'sourceSansProBold', 'arial', sans-serif !important;
    .red-header-icon{
        width: 19px;
        height: 21px;
        margin-right: 16px;
    }
}

.mat-header-cell {
    color: $base-red-two;
    text-transform: capitalize;
    font-size: 18px;
    font-family: 'sourceSansProSemiBold', 'arial', sans-serif !important;
}

// table styles
.mat-table{
    padding: 20px 7px 10px;
}
// table header
mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
    padding-left: 22px !important;
    
}
// table cells
.mat-cell, .mat-footer-cell {
    color: #656E7D;
    font-size: 16px;
    font-family: 'sourceSansProSemiBold', 'arial', sans-serif !important;
}
mat-row, mat-header-row, mat-footer-row, th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    border-bottom-color: #DEE1E5;
}
// table paginator
.mat-paginator-page-size-label {
    margin: 0 4px;
    color: #656E7D;
    font-size: 16px;
    font-family: 'sourceSansProRegular', 'arial', sans-serif !important;

}
.mat-paginator-range-label {
    margin: 0 32px 0 50px;
    color: #656E7D;
    font-size: 16px;
    font-family: 'sourceSansProRegular', 'arial', sans-serif !important;
}
.mat-paginator-navigation-next ,
.mat-paginator-navigation-previous,
.mat-paginator-navigation-first,
.mat-paginator-navigation-last{
color: #5F6165;
}
.mat-form-field-underline{
    display: none
}
.mat-form-field-infix{
    border: 1px solid #D7DAE2;
    border-radius: 4px;
    width: 77px;
    height: 36px;
    padding: 8px 13px 5px !important;
    .mat-select-value{
        font-size: 16px;
    }
}
.mat-paginator-page-size-select {
    width: 77px !important;
}
// 
// toolbar
.dashboard-toolbar .arabic-btn span{
    font-family: 'bahijArabic', 'arial', sans-serif !important;
}

// main styles
.card-shadow{
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.10)
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content{
    line-height: 22px !important ;
    padding: 7px 12px !important;
}
.mat-button-toggle-button{
    outline: none;
}

// footer
.full-width-line{
    margin-top: 59.5px;
    margin-bottom: 25px;
    background-color: #DEE1E5;
    height: 1px;
}

// side nav
// .mat-list-item-content:hover {
//     background-color:  rgba(0, 0, 0, 0.06) !important;
//     border-radius:8px ;
//     transition: transform 300ms ease
// }

// .with-child .mat-list-item-content:hover {
//     background-color:#ECEFF1 !important;
// }
// .mat-drawer.mat-drawer-side {
//     box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.10);
//     background-color: #ECEFF1;
// }

.col-3{
    max-width: 21.215%;
}
.col-md-9{
    max-width: 78.785%;
}
.container{
    padding: 0;
}
// @media(min-width:1200px){
.container{
    max-width: 85.9375% ;
}

// }

.red{
    background-color: red !important;
}