.right-arrow mat-icon{
    font-size: 26px;
    vertical-align: sub;
    color: #3A0000;
}
.details-btn{
    width: 93px;
    height: 36px;
    background-color: #ffffff;
    border: 1px solid #D7DAE2;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    line-height: 2.2;
    color: #656E7D;
    box-shadow: 0px 2px 3px rgb(0 0 0 / 5%);

    mat-icon{
        font-size: 14px;
        vertical-align: bottom;
    }
}
.details-btn:focus {
      outline: none
    };
    mat-row{
        height: 85px;
        padding: 5px 14px;
        margin: auto 5px;
        transition: 300ms;
        mat-cell{
            padding-left: 10px;
        }

    }
    ::ng-deep mat-paginator{
        .mat-paginator-container{
            margin: 0 20px 26px 0;
        }
        .mat-form-field-appearance-legacy .mat-form-field-wrapper {
            padding-bottom: 0 !important;
        }
}

    ::ng-deep mat-row:hover{
        border-left: 5px solid #B36E22 !important;
        background-color: #F6F7F8;
    }

    

    // charts
    .charts-padding{
        padding: 32px 20px 35px 25px
    }
    .charts-main{
        background-color: #ffffff;
        min-height: 436px;
    }
    .charts-section{
        margin-top: 49px;
    }
    .chart-select{
    border: 1px solid #D7DAE2;
    padding: 7px 12px;
    margin-bottom: 20px;
    // margin: 32px 9px 25px 30px;
    box-shadow: 0px 2px 3px rgb(0 0 0 / 5%);
    width: 110px;
    height: 36px;
    border-radius: 4px;
    background-color: #ffffff;

    .mat-select-value{
        font-size: 15px;
    }
    }

    .barChat-toggleBtns{
        // border: 1px solid #D7DAE2;
        margin: 0px 0px 5px 0px;
        box-shadow: 0px 2px 3px rgb(0 0 0 / 5%);
        
        .mat-button-toggle{
            width: 110px;
            height: 36px;
        }
        .mat-button-toggle-checked {
            background-color: #800000;
            border-color: #800000;
            color: #ffffff;
        }
        .exports-btn{
            border-radius: 4px 0 0 4px;
        }
        .imports-btn{
            border-radius: 0 4px 4px 0;
        }
    }
  .button-selected-value{
    margin: 15px 0;
    color: #434343;
    font-size: 15px;
  }


//   carousel
.carosel{
    margin-bottom: 49px;
    margin-top: 35px;
    margin-left: 14px;
    margin-right: 14px;
}
// .first-slider{
// margin:auto 15px auto 5px ;
// }
.background-one{
    background: rgb(239,187,96);
    background: linear-gradient(163deg, rgba(239,187,96,1) 0%, rgba(207,49,0,1) 50%, rgba(101,7,0,1) 100%);
}
.background-two{
    background: rgb(201,216,94);
background: linear-gradient(163deg, rgba(201,216,94,1) 0%, rgba(125,120,48,1) 100%);
}
.background-three{
    background: rgb(55,189,248);
    background: linear-gradient(168deg, rgba(55,189,248,1) 0%, rgba(157,46,91,1) 100%);
}
.background-four{
    background: rgb(40,167,65);
    background: linear-gradient(168deg, rgba(40,167,65,1) 0%, rgba(85,195,245,1) 100%);
}
::ng-deep.mat-card {
    border-radius: 20px !important;
    height: 164px;
    margin: 0;
    box-shadow: 0px 10px 25px rgb(0 0 0 / 18%) !important;
    padding-top: 18px !important;
    padding-left: 20px !important;
    padding-bottom: 14px !important;
    padding-right: 22px !important;
    color: #fff;

   
    .mat-card-header{
        font-size: 18px !important;
        color: #fff;
        line-height: 23px;

        .mat-card-header-text{
            margin: 0 !important;
        }
    }

    .mat-card-footer{
        float: right;
        font-size: 14px;
        opacity: 80%;
        margin: 0;    
    }

    .mat-card-content{
        margin-top: 12px;
        margin-bottom: 12px;
    .slider-img{
        width: 59px;
        height: 48px;
        display: inline-block;
    }
    .slider-img-two{
width: 93px;
height: 48px;
display: inline-block;
    }
    .content-number{
        font-size: 50px;
        font-family: "sourceSansProBold", "arial", sans-serif;
        float: right;
        // line-height: 24px;
    }

}
}
::ng-deep.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    // background: #869791;
    background: #B36E22;
}
// ::ng-deep.owl-theme .owl-nav {
//     background-color: #ffffff;
// }
::ng-deep.owl-nav {
    .owl-prev{
        background-color: transparent !important;
        position: absolute;
        top: 5em;
        left: -30px;
        padding: 0 !important;

        img{
            width: 18px;
        }}
    .owl-next{
        background-color: transparent !important;
        position: absolute;
        top: 5em;
        right: -30px;
        padding: 0 !important;
    img{
        width: 18px;
    }
    }
    .disabled{
        display: none !important;
    }
}
// ::ng-deep .owl-carousel .owl-item {
//     width: 285px !important;
// }