<!-- start slider -->
<!-- <div class="container"> -->
<section class="carosel">
  <!-- <div class="row">
    <div class="col-md-12"> -->
      
  <owl-carousel-o [options]="customOptions">
    <ng-template  carouselSlide style="width:285px">

      <mat-card class="first-slider background-one my-width" >
        <mat-card-header>
          <mat-card-title>New Request</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="slider-img">
            <img src="../../../../../assets/images/Group 2582.png" alt="">
          </div>
          <div class="content-number">

            <h2 class="content-number"> 08</h2>
          </div>
        </mat-card-content>
        <mat-card-footer>
          oct 15 - oct 20
        </mat-card-footer>
      </mat-card>

    </ng-template>  

    <ng-template  carouselSlide style="width:285px">

      <mat-card class="first-slider background-two my-width" >
        <mat-card-header>
          <mat-card-title>Total Export ATA</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="slider-img-two">
            <img src="../../../../../assets/images/chart.png" alt="">
          </div>
          <div class="content-number">

            <h2 class="content-number"> 501</h2>
          </div>
        </mat-card-content>
        <mat-card-footer>
          Jan 2018 - Oct 2020
        </mat-card-footer>
      </mat-card>

    </ng-template>  

    <ng-template  carouselSlide style="width:285px">

      <mat-card class="first-slider background-three my-width" >
        <mat-card-header>
          <mat-card-title>Total Import ATA</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="slider-img">
            <img src="../../../../../assets/images/Group 2582.png" alt="">
          </div>
          <div class="content-number">

            <h2 class="content-number"> 413</h2>
          </div>
        </mat-card-content>
        <mat-card-footer>
          Jan 2018 - Oct 2020
        </mat-card-footer>
      </mat-card>

    </ng-template>  

    <ng-template  carouselSlide style="width:285px">

      <mat-card class="first-slider background-four my-width"  >
        <mat-card-header>
          <mat-card-title>Open Export ATA</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="slider-img">
            <img src="../../../../../assets/images/Group 2582.png" alt="">
          </div>
          <div class="content-number">

            <h2 class="content-number"> 107</h2>
          </div>
        </mat-card-content>
        <mat-card-footer>
          Jan 2018 - Oct 2020
        </mat-card-footer>
      </mat-card>

    </ng-template>  

    <ng-template  carouselSlide style="width:285px">

      <mat-card class="first-slider background-one my-width">
        <mat-card-header>
          <mat-card-title>New Request</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="slider-img">
            <img src="../../../../../assets/images/Group 2582.png" alt="">
          </div>
          <div class="content-number">

            <h2 class="content-number"> 555</h2>
          </div>
        </mat-card-content>
        <mat-card-footer>
          oct 15 - oct 20
        </mat-card-footer>
      </mat-card>

    </ng-template>  
  </owl-carousel-o>
  
  
<!-- </div>
</div> -->
</section>
<!-- </div> -->
<!-- end slider -->
<!-- start table -->
<section class="table-section">
<div class="row">
  <div class="col-md-12">
  <h2 class="red-header">
    <img class="red-header-icon" src="../../../../../assets/images/Group 2532.png" alt="icon">
    ATA carnet requests
    <span class="right-arrow">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </span>
  </h2>
  <div class="example-container card-shadow">

    <mat-table [dataSource]="dataSource" matSort>
  
     
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Carnet No </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.position}} </mat-cell>
      </ng-container>
  
      
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Customer </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.name}}% </mat-cell>
      </ng-container>
  

      <ng-container matColumnDef="weight">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Expire On </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.weight}} </mat-cell>
      </ng-container>
  
    
      <ng-container matColumnDef="symbol">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Commerce Chamber </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.symbol}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.status}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Actions</mat-header-cell>
        <mat-cell *matCellDef="let row"> 
          <button mat-flat-button class="details-btn" (click)="onDetails(row)">
            Details
          <span>
            <mat-icon>arrow_forward</mat-icon>
          </span>
          </button>
           </mat-cell>

      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
  </div>
</div>
</div>
</section>
<!-- end table -->

<!-- start charts -->
<section class="charts-section">

<div class="row">
  <div class="col-sm-12 col-md-6">
    <h2 class="red-header">
      <img class="red-header-icon" src="../../../../../assets/images/Group 2532.png" alt="icon">
      Commerce chamber exports ATA
      <span class="right-arrow">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </span>
    </h2>
    <div class="example-container card-shadow charts-padding charts-main">
      <!-- <div class="row">
        <div class="col-md-3 offset-md-9"> -->
          <div class="select-div">
            
            <mat-select class="chart-select"  value='all'>
              <mat-option value='all'>All</mat-option>
              <mat-option *ngFor="let year of years" [value]="year.value">
                {{year.viewValue}}
              </mat-option>
            </mat-select>
          </div>
      <!-- </div>
    </div> -->
    <p-chart type="doughnut" [data]="data2" [options]='donutOptions' width="275px" height="275px"></p-chart>
    <div class="donut-legends">

     <div class="legend-row">
       <div class="donut-curcle donut-color1"></div>
      <span class="name" >Ryadh</span>
      <span class="description"> 2500 Export ATA</span>

     </div>
     <div class="legend-row">
      <div class="donut-curcle donut-color2"></div>
     <span class="name" >Dammam</span>
     <span class="description"> 2500 Export ATA</span>

    </div>
    <div class="legend-row">
      <div class="donut-curcle donut-color3"></div>
     <span class="name" >Jeddah</span>
     <span class="description"> 2500 Export ATA</span>

    </div>
    <div class="legend-row">
      <div class="donut-curcle donut-color4"></div>
     <span class="name" >Najran</span>
     <span class="description"> 2500 Export ATA</span>

    </div>
    </div>
  </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <h2 class="red-header">
      <img class="red-header-icon" src="../../../../../assets/images/Group 2532.png" alt="icon">
      Exports / Imports Numbers by Year
      <span class="right-arrow">
      <mat-icon>keyboard_arrow_right</mat-icon>
      </span>
    </h2>
    <div class="example-container card-shadow charts-padding charts-main">
      <div>
        <mat-button-toggle-group #group="matButtonToggleGroup" class="barChat-toggleBtns"  value="Exports">
          <mat-button-toggle value="Exports" class="exports-btn" >
            Exports
          </mat-button-toggle>
         
          <mat-button-toggle value="Imports" class="imports-btn">
            Imports
          </mat-button-toggle>
          
        </mat-button-toggle-group>
        <div class="button-selected-value"> {{group.value}} Numbers by year</div>
      </div>
        <p-chart type="bar" [data]="data" [options]='barOptions'></p-chart>
      
    </div>
  </div>
</div>
</section>
<!-- end charts -->
