.dashboard-toolbar{
  background-color: #fff;
  height: 70px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  // -webkit-backdrop-filter:blur(30px) brightness(15) opacity(0);
  backdrop-filter: blur(30px) brightness(15) opacity(0);
  background-color: rgba(255, 255, 255, 0.5);
  // position: fixed;
  z-index: 99;
  .dashboard-app-name{
    font-size: 22px;
    font-family: 'sourceSansProBold', 'arial', sans-serif !important;
    color: #3A0000;
  }
.dashboard-app-name:hover{
  text-decoration: none
}

  .dashboard-icon {
    padding: 0 14px;
  }
  
  .dashboard-spacer {
    flex: 1 1 auto;
  }
  button{
    border: 0;
     margin: 10px 14px ;
     background-color: #fff;
     width: 38px;
     height: 38px;
    mat-icon{
      color: #5F6165;

    }
  }
  .header-btn-icon{
   i{
    font-size: 20px;
    color: #5F6165;
   }
  }
  button:focus {
    outline: none
  }
  .arabic-btn{
    font-size: 14px;
    color: #5F6165;
    background-color: #F2F2F2;
    border: 0;
    border-radius: 8px;
    width: 60px;
    height: 35px;
  }
  .new-notification{
    width: 7.2px;
    height: 7.2px;
    border-radius: 50px;
    background-color: #B50C00;
    position: absolute;
    top: 6px;
    right: 8px
  }
}