   <mat-toolbar class="example-toolbar">
    <button mat-icon-button ><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Dashboard</h1>
    <span class="example-spacer"></span>
    <button mat-flat-button>Basic</button>
    <mat-icon
      class="example-icon"
      aria-hidden="false"
      aria-label="Example heart icon"
      >favorite</mat-icon
    >
    <mat-icon
      class="example-icon"
      aria-hidden="false"
      aria-label="Example delete icon"
      >delete</mat-icon
    >
  </mat-toolbar>