.dashboard-toolbar{
  background-color: #fff;
  height: 70px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  // -webkit-backdrop-filter:blur(30px) brightness(15) opacity(0);
  backdrop-filter: blur(30px) brightness(15) opacity(0);
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  width: 66.62%;
  z-index: 99;
  .dashboard-app-name{
    font-size: 22px;
    font-family: 'sourceSansProBold', 'arial', sans-serif !important;
    color: #3A0000;
  }
.dashboard-app-name:hover{
  text-decoration: none
}

  .dashboard-icon {
    padding: 0 14px;
  }
  
  .dashboard-spacer {
    flex: 1 1 auto;
  }
  button{
    border: 0;
     margin: 10px 14px ;
     background-color: #fff;
     width: 38px;
     height: 38px;
    mat-icon{
      color: #5F6165;

    }
  }
  .header-btn-icon{
   i{
    font-size: 20px;
    color: #5F6165;
   }
  }
  button:focus {
    outline: none
  }
  .arabic-btn{
    font-size: 14px;
    color: #5F6165;
    background-color: #F2F2F2;
    border: 0;
    border-radius: 8px;
    width: 60px;
    height: 35px;
  }
  .new-notification{
    width: 7.2px;
    height: 7.2px;
    border-radius: 50px;
    background-color: #B50C00;
    position: absolute;
    top: 6px;
    right: 8px
  }
}
.notification-area{
  position: absolute;
  width: 302px;
  height: 320px;
  top: 3%;
  right: 6%;
  z-index: 999;
  background: #fff;
  padding: 16px 21px 31px 12px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.10);
  display: none;
  overflow-y: scroll;
  .notifocation-row{
    
    border-bottom: 1px solid #DBDBDB;
  }
  .head{
    font-size: 16px;
    // color: #B36E22;
    font-family: 'sourceSansProBold', 'arial', sans-serif !important;
    margin: 0;
  .point{
    width: 10px;
    height: 10px;
    // background-color: #B50C00;
    display: inline-block;
    position: absolute;
    right: 10%;
    top: 7%;
    border-radius: 50%;
  }
}
.content{
  font-size: 14px;
  // color: #656E7D;
  line-height: 24px;
  margin: 2.5px 0 4.5px;
}
.time{
font-size: 12px;
// color: #999999;
margin: 0 0 7.5px;
}

.new-one{
  .head{
    color: #B36E22;
    .point{
      background-color: #B50C00;
    }
  }
  .content{
    color: #656E7D;
  }
  .time{
  color: #999999;
  }
}
 // old notification change color
.old-one{
  .head{
    color: #999999;
    .point{
      // background-color: #B50C00;
      display: none;
    }
  }
  .content{
    color: #999999;
  }
  .time{
  color: #999999;
  }
}
}